<%- include('header') -%> 
    <div class="box" id="heading">
        <h1><%= currentDay %></h1>
    </div>
    
    <div class="box">
        <div class="item">
            
            <% itemList.forEach(item => { %>
                <div class="item2">
                    <input type="checkbox">
                    <p><%=item%></p>
                </div>
                
            <% }); %>
        </div>

        <form class='item' action="/" method="POST">
            <div class='item-cont'>
                <input type="text" name="inputtxt" placeholder="What i need to do" />
                <button type="submit" name="addbtn" value="<%=currentDay%>">+</button>
            </div>
            
        </form>
    </div>

<%- include('footer') -%> 
    

    


